.container .new-tweet{
  background-color: #eee;
  border-color: #dbdbdb;
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
  margin: 2em;
  padding: 0.5em
}

.container .new-tweet h2{
  border-bottom: 1px solid black;
  margin: 0;
  margin-bottom: 1em;
}

.container .new-tweet textarea{
  padding: 5px ;
  width: 100%
}

.container .new-tweet .counter{
  color: black;
  float:right;
  padding-right:0.5em;
}


